In [1]:
import os
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
path = '../data/movielens/'

In [3]:
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding = 'utf-8')
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding = 'utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), encoding = 'utf-8')

In [4]:
print(tags_df.shape)
print(movies_df.shape)
print(ratings_df.shape)

(3683, 4)
(9742, 3)
(100836, 4)

### 장르 분석하기

In [5]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [11]:
all_genres = [x.split('|') for x in movies_df['genres'].values]

In [15]:
genres_df = pd.DataFrame(columns=genres, index = movies_df.index)
genres_df.head()

,Comedy,Fantasy,Thriller,Adventure,Mystery,Animation,Documentary,(no genres listed),Romance,Drama,Action,IMAX,Sci-Fi,War,Western,Crime,Musical,Film-Noir,Horror,Children
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import itertools
genres = list(set(list(itertools.chain(*all_genres))))
print(len(all_genres))
print(len(genres))
print(genres)

9742
20
['Comedy', 'Fantasy', 'Thriller', 'Adventure', 'Mystery', 'Animation', 'Documentary', '(no genres listed)', 'Romance', 'Drama', 'Action', 'IMAX', 'Sci-Fi', 'War', 'Western', 'Crime', 'Musical', 'Film-Noir', 'Horror', 'Children']

In [18]:
ct = 0
for i,row in movies_df.iterrows():
    movie_id = row.name
    list_of_genres = movies_df.loc[movie_id]['genres'].split('|')
    
    genres_df.loc[movie_id][list_of_genres] = 1

In [22]:
genres_df = genres_df.fillna(0)
genres_df['nim_genres'] = genres_df.sum(axis = 1)
print(genres_df.shape)
print(genres_df)

(9742, 21)
      Comedy  Fantasy  Thriller  Adventure  Mystery  Animation  Documentary  \
0          1        1         0          1        0          1            0
1          0        1         0          1        0          0            0
2          1        0         0          0        0          0            0
3          1        0         0          0        0          0            0
4          1        0         0          0        0          0            0
...      ...      ...       ...        ...      ...        ...          ...
9737       1        1         0          0        0          1            0
9738       1        1         0          0        0          1            0
9739       0        0         0          0        0          0            0
9740       0        0         0          0        0          1            0
9741       1        0         0          0        0          0            0

      (no genres listed)  Romance  Drama  ...  IMAX  Sci-Fi  War  Western  \
0                      0        0      0  ...     0       0    0        0
1                      0        0      0  ...     0       0    0        0
2                      0        1      0  ...     0       0    0        0
3                      0        1      1  ...     0       0    0        0
4                      0        0      0  ...     0       0    0        0
...                  ...      ...    ...  ...   ...     ...  ...      ...
9737                   0        0      0  ...     0       0    0        0
9738                   0        0      0  ...     0       0    0        0
9739                   0        0      1  ...     0       0    0        0
9740                   0        0      0  ...     0       0    0        0
9741                   0        0      0  ...     0       0    0        0

      Crime  Musical  Film-Noir  Horror  Children  nim_genres
0         0        0          0       0         1           5
1         0        0          0       0         1           3
2         0        0          0       0         0           2
3         0        0          0       0         0           3
4         0        0          0       0         0           1
...     ...      ...        ...     ...       ...         ...
9737      0        0          0       0         0           4
9738      0        0          0       0         0           3
9739      0        0          0       0         0           1
9740      0        0          0       0         0           2
9741      0        0          0       0         0           1

[9742 rows x 21 columns]

In [44]:
str(movies_df['genres'].values).split('|')

["['Adventure",
 'Animation',
 'Children',
 'Comedy',
 "Fantasy'\n 'Adventure",
 'Children',
 "Fantasy' 'Comedy",
 "Romance' ... 'Drama'\n 'Action",
 "Animation' 'Comedy']"]

In [27]:
genres_df = movies_df['genres'].get_dummies(sep = '|')
genres_df.head()

AttributeError: 'Series' object has no attribute 'get_dummies'