In [12]:
from tqdm import tqdm
import pandas as pd
import os
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from scipy.sparse import csr_matrix

In [13]:
path = '../data/movielens/'

In [14]:
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding = 'utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), encoding = 'utf-8', index_col = 'movieId')
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding = 'utf-8')

In [15]:
movies_df.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [16]:
print(ratings_df.shape)
print(ratings_df.head())

(100836, 4)
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### ratings 데이터 정보 확인하기
## 여기서 pivot

In [17]:
num_users = len(ratings_df['userId'].unique())
num_movies = len(ratings_df['movieId'].unique())
print("총 유저 수:", num_users)
print("총 영화 수:",num_movies)

총 유저 수: 610
총 영화 수: 9724

In [18]:
user_movie_matrix = ratings_df.pivot(
    index = 'movieId',
    columns = 'userId',
    values = 'rating'
).fillna(0)

user_movie_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
sparse_mat = csr_matrix(user_movie_matrix.values)
print(sparse_mat)

  (0, 0)	4.0
  (0, 4)	4.0
  (0, 6)	4.5
  (0, 14)	2.5
  (0, 16)	4.5
  (0, 17)	3.5
  (0, 18)	4.0
  (0, 20)	3.5
  (0, 26)	3.0
  (0, 30)	5.0
  (0, 31)	3.0
  (0, 32)	3.0
  (0, 39)	5.0
  (0, 42)	5.0
  (0, 43)	3.0
  (0, 44)	4.0
  (0, 45)	5.0
  (0, 49)	3.0
  (0, 53)	3.0
  (0, 56)	5.0
  (0, 62)	5.0
  (0, 63)	4.0
  (0, 65)	4.0
  (0, 67)	2.5
  (0, 70)	5.0
  :	:
  (9700, 337)	2.5
  (9701, 337)	3.0
  (9702, 183)	4.0
  (9702, 247)	3.5
  (9703, 317)	2.5
  (9704, 209)	1.0
  (9705, 461)	2.5
  (9706, 49)	3.5
  (9707, 337)	1.5
  (9708, 337)	4.0
  (9709, 337)	1.0
  (9710, 337)	1.5
  (9711, 337)	1.0
  (9712, 337)	1.0
  (9713, 183)	4.5
  (9714, 183)	3.5
  (9715, 183)	3.0
  (9716, 183)	4.0
  (9717, 183)	4.0
  (9718, 183)	3.5
  (9719, 183)	4.0
  (9720, 183)	3.5
  (9721, 183)	3.5
  (9722, 183)	3.5
  (9723, 330)	4.0

In [20]:
user_info_df = pd.DataFrame(
    data = [sum(list(user_movie_matrix[int(x)].value_counts())[1:]) for x in user_movie_matrix.columns],
   index = user_movie_matrix.columns, columns = ['movies_rated'])

In [21]:
user_info_df

        movies_rated
userId
1                232
2                 29
3                 39
4                216
5                 44
...              ...
606             1115
607              187
608              831
609               37
610             1302

[610 rows x 1 columns]

In [22]:
movie_info_df = pd.DataFrame(
    data = [sum(list(user_movie_matrix.loc[int(x)].value_counts())[1:]) for x in user_movie_matrix.index],
    index = user_movie_matrix.index, columns = ['user_rated']
)

In [23]:
movie_info_df

         user_rated
movieId
1               215
2               110
3                52
4                 7
5                49
...             ...
193581            1
193583            1
193585            1
193587            1
193609            1

[9724 rows x 1 columns]

### MovieLens 데이터셋 중 학습셋과 평가셋 나누기

## 여기서 timestamp를 사용해서 진짜 나누는 방법을 추가하자

In [24]:
train_df, test_df = train_test_split(ratings_df, test_size = 0.2, random_state = 1234)

In [25]:
print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

### test set에는 존재하지만, train set에는 없는 영화 또는 사용자 비율

In [26]:
print("사용자 : ",len(list(set(test_df['userId'].unique()) - set(train_df['userId'].unique()))))

print("영화 : ", len(list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))))
print("test set의 전체 영화수:", len(test_df['movieId'].unique()))

사용자 :  0
영화 :  786
test set의 전체 영화수: 5171

In [27]:
movies_not_included = list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))
print(sorted(movies_not_included)[:10])

not_included_df = test_df[test_df.movieId.isin(movies_not_included)].sort_values(by = 'movieId')
print(not_included_df)

print("train set에 없고, test set에만 있는 영화 데이터 수: ", not_included_df.shape)

[49, 117, 137, 178, 241, 320, 359, 478, 488, 495]
       userId  movieId  rating   timestamp
29386     202       49     3.0   974925453
97066     604      117     3.0   832080636
99501     609      137     3.0   847221054
27959     191      178     1.0   829760898
98493     607      241     4.0   964744490
...       ...      ...     ...         ...
49862     318   189381     2.5  1536097988
71998     462   189713     2.5  1536467299
52008     338   190221     1.0  1530148473
27257     184   193583     3.5  1537109545
27258     184   193585     3.5  1537109805

[852 rows x 4 columns]
train set에 없고, test set에만 있는 영화 데이터 수:  (852, 4)

### 랜덤으로 평점 예측하기

In [28]:
ratings_range = np.arange(0.5, 5.5, step = 0.5)
ratings_range

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [29]:
import random
pred_random = [random.choice(ratings_range) for x in range(len(test_df))]
pred_random[:10]

[4.0, 4.0, 2.5, 4.0, 3.5, 4.5, 2.0, 4.5, 5.0, 4.0]

In [30]:
test_df['pred_ratings_random'] = pred_random

<ipython-input-30-5bc02b7bb71e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['pred_ratings_random'] = pred_random

In [31]:
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_ratings_random'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

3.690574176913923 1.921086717697544

### 영화 평균평점으로 예측하기

In [32]:
# series_movie = [train_movie_df.loc[x]['rating'] for x in test_df['movieId']]
# test_df['pred_ratings_mean'] = series_movie

# mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_ratings_mean'].values)
# rmse = np.sqrt(mse)

# print(mse, rmse)

In [33]:
train_movie_df = train_df.groupby(['movieId']).mean()

print(train_movie_df.shape)
print(train_movie_df.head())

(8938, 3)
             userId    rating     timestamp
movieId
1        307.473373  3.893491  1.128439e+09
2        327.475610  3.396341  1.142893e+09
3        266.386364  3.454545  9.900434e+08
4        192.750000  2.250000  8.425133e+08
5        309.526316  3.039474  1.007415e+09

In [34]:
def avg_rating_prediction(training_set, x):
    if x in training_set.index:
        pred_rating = training_set.loc[x]['rating']
    else:
        pred_rating = random.choice(ratings_range)
    return pred_rating

In [35]:
test_df['pred_rating_movie'] = test_df['movieId'].apply(lambda x : avg_rating_prediction(train_movie_df, x))

test_df.head()

<ipython-input-35-6269132759f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['pred_rating_movie'] = test_df['movieId'].apply(lambda x : avg_rating_prediction(train_movie_df, x))

,userId,movieId,rating,timestamp,pred_ratings_random,pred_rating_movie
99731,610,3527,5.0,1479545223,4.0,3.604167
97583,606,1250,3.5,1171376891,4.0,4.180556
38197,262,213,5.0,840310907,2.5,3.750000
11474,68,69406,3.0,1261622505,4.0,3.571429
34105,232,4728,3.0,1218166950,3.5,2.769231

In [36]:
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_rating_movie'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.0459715560999099 1.0227275082346763

### 사용자의 평균 평점을 기반으로 예측

In [38]:
train_user_df = train_df.groupby(['userId']).mean()

print(train_user_df.shape)
print(train_user_df.head())

(610, 3)
             movieId    rating     timestamp
userId
1        1891.168478  4.320652  9.649865e+08
2       70402.760000  3.940000  1.445715e+09
3        8394.733333  2.516667  1.306464e+09
4        1957.923077  3.631868  9.655941e+08
5         337.606061  3.636364  8.474351e+08

In [39]:
test_df['pred_rating_user'] = test_df['userId'].apply(lambda x : avg_rating_prediction(train_user_df, x))

test_df.head()

<ipython-input-39-f614c91d8a9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['pred_rating_user'] = test_df['userId'].apply(lambda x : avg_rating_prediction(train_user_df, x))

,userId,movieId,rating,timestamp,pred_ratings_random,pred_rating_movie,pred_rating_user
99731,610,3527,5.0,1479545223,4.0,3.604167,3.678709
97583,606,1250,3.5,1171376891,4.0,4.180556,3.649718
38197,262,213,5.0,840310907,2.5,3.750000,2.925000
11474,68,69406,3.0,1261622505,4.0,3.571429,3.229331
34105,232,4728,3.0,1218166950,3.5,2.769231,3.242268

In [40]:
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_rating_user'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

0.8905889036428333 0.9437101798978504

### Rule 기반 영화 평점 예측하기

In [41]:
train_user_movie_matrix = train_df.pivot(
    index = 'movieId',
    columns = 'userId',
    values = 'rating'
).fillna(0)

In [42]:
train_user_movie_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,0.0,2.5,0.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,0.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
genres_df = movies_df['genres'].str.get_dummies(sep='|')
print(genres_df.shape)
genres_df = genres_df.loc[train_df.movieId.unique()]
print(genres_df)
genres_df.head()

(9742, 20)
         (no genres listed)  Action  Adventure  Animation  Children  Comedy  \
movieId
5943                      0       0          0          0         0       1
2571                      0       1          0          0         0       0
8958                      0       0          0          0         0       0
2322                      0       1          0          0         0       0
2959                      0       1          0          0         0       0
...                     ...     ...        ...        ...       ...     ...
45648                     0       0          0          0         0       1
6067                      0       0          0          0         0       1
26861                     0       0          0          0         0       1
6814                      0       1          0          0         0       1
6279                      0       0          0          0         0       0

         Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  IMAX  Musical  \
movieId
5943         0            0      0        0          0       0     0        0
2571         0            0      0        0          0       0     0        0
8958         0            0      1        0          0       0     0        0
2322         0            0      0        0          0       0     0        0
2959         1            0      1        0          0       0     0        0
...        ...          ...    ...      ...        ...     ...   ...      ...
45648        0            0      1        0          0       0     0        0
6067         1            0      0        0          0       0     0        0
26861        0            0      0        0          0       0     0        0
6814         0            0      0        0          0       0     0        0
6279         1            0      1        0          0       0     0        0

         Mystery  Romance  Sci-Fi  Thriller  War  Western
movieId
5943           0        1       0         0    0        0
2571           0        0       1         1    0        0
8958           0        0       0         0    0        0
2322           0        0       1         0    1        0
2959           0        0       0         1    0        0
...          ...      ...     ...       ...  ...      ...
45648          0        0       0         0    0        0
6067           0        0       0         0    0        0
26861          0        0       1         0    0        0
6814           0        0       0         0    0        0
6279           0        0       0         0    0        0

[8938 rows x 20 columns]

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,
5943,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2571,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
8958,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2322,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2959,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0

### 35분

In [50]:
train_movie_avg_ratings_df = train_user_movie_matrix.copy()
train_movie_avg_ratings_df = train_movie_avg_rating_df.replace(0, np.NaN)
train_movie_avg_ratings_df = train_movie_avg_rating_df.mean(axis = 1)

train_movie_avg_ratings_df

ValueError: No axis named 1 for object type Series

In [49]:
genres_avg_ratings_df = pd.DataFrame(index = genres_df.columns, columns = ['avg_ratings'])

for genre in genres_avg_ratings_df.index:
    genre_avg_rating = train_movie_avg_ratings_df.loc[genres_df[genres_df[genre].isin([1])].index].mean()
    gernes_avg_ratings_df.loc[genre]['avg_ratings'] = genre_avg_rating
    
genres_avg_ratings_df

NameError: name 'gernes_avg_ratings_df' is not defined